<!DOCTYPE html>
<html>
  <head>
    <title>Pinspire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:description" content="Pinspire, a clone project of Pinterest"/>
    <meta property="og:image" content="https://pinspire-seeds.s3.us-east-1.amazonaws.com/Screen%20Shot%202022-03-22%20at%201.26.58%20AM.png" />
    <link rel="icon" type="image/x-icon" href="https://pinspire-seeds.s3.us-east-1.amazonaws.com/p_favicon.png">

  <body>
    <%= yield %>
  </body>
</html>
